.banner{
height: 450px;
color: white;
}
.banner_content{
    margin-left: 3rem;
    height: 160px;
    padding-top: 150px;
}
.banner_title{
    font-size: 3rem;
    margin-bottom: 0.3rem;
}
.banner_overview{
    width: 45rem;
    padding-top: 1rem;
    font-size: 1rem;
}